*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"Dongle-light";
    src: url("Dongle/Dongle-light.tff");
}
@font-face {
    font-family:"Dongle-Regular";
    src: url("Dongle/Dongle-Regular.tff");
}
@font-face {
    font-family:"Dongle-bold";
    src: url("Dongle/Dongle-bold.tff");
}
header {
    display: flex;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    align-items: center;
}

.nav-menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu li{
    margin-right: 20px;
}
.nav-menu li:last-child{
    margin-right: 0;
}

.nav-menu  a{
    text-decoration: none;
    font-family: "Dongle-bold";
    font-size: 1.3rem;
    color: #333;
    transition: all ease 0.3s;
}

.nav-menu a:hover{
    color: #ff7f50;
}

.hero{
    position: relative;
    height: 600px;
    overflow: hidden;
}

.hero-image img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

.hero-content h1{
    font-family: "Dongle-bold";
    font-size: 2.8rem;
}

.hero-content p{
    font-family: "Dongle-regular";
    padding-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Dongle-light";
    font-size: 1rem;
    transition: all ease 0.3s;
}

.hero-button:hover{
    background-color: #333;
}

.destinations{
    margin-left: 70px;
   margin-right: 80px;
}

.destinations h2{
    font-size: 2.4rem;
    font-family: "Dongle-bold";
    margin:50px 80px;
    text-align: center;
    }

.destination-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.destination-item h3{
    font-size:1.3rem;
    margin-top: 10px;
}

.destination-item p{
    margin-top: 20px;
    line-height: 1;
    font-size: 1.1rem;
    font-family: "Dongle-regular";
}

.about{
    text-align: center;
    padding: 90px;
}

.about h3{
    font-family: "Dongle-bold";
    font-size: 2rem;
}

.about p{
    font-family: "Dongle-regular";
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 40px;
}

.team-members{
    display: flex;
    flex-wrap: wrap;
}

.team-member img{
    width: 300px;
    height: 300px;
    margin: 10px ;
    object-fit: cover;
}

.team-member h4{
    font-family: "Dongle-bold";
    font-size: 1.2rem;
    margin-top: 10px;
}

.team-member p{
    margin-top: 10px;
}